h5py==3.13.0
hdf5storage==0.2.2
joblib==1.5.1
joblib==1.4.2
loguru==0.7.3
matplotlib==3.10.8
numpy==2.4.0
opencv_python==4.11.0.86
opencv_python_headless==4.9.0.80
pandas==2.3.3
pexpect==4.9.0
python-dotenv==1.2.1
PyYAML==6.0.2
PyYAML==6.0.3
rich==14.2.0
scanimage_tiff_reader==1.4.1.4
scikit_learn==1.8.0
sciplotlib.egg==info
scipy==1.16.3
skimage==0.0
tqdm==4.67.1
typer==0.21.1
